{{define "subject"}}Reset your password on {{.Site.InstanceName}}{{end}}

{{define "body" -}}
Reset your password

Someone asked to reset the password for @{{.Data.Username}} on {{.Site.InstanceName}}. Choose a new one by opening this link:

{{.Data.Link}}

The link works once and expires in 1 hour. If you didn't ask for this, ignore this email; your password stays the same.
{{end}}
