{{define "body" -}}
<h1 style="margin:0 0 18px;font-size:22px;line-height:1.3;">Your password was changed</h1>
<p style="margin:0 0 18px;">The password for @{{.Data.Username}} on {{.Site.InstanceName}} was reset on {{when .Data.At}}, and every device was signed out.</p>
<p style="margin:0 0 18px;"><strong>If you did this,</strong> there's nothing to do.</p>
<p style="margin:0;"><strong>If you didn't,</strong> reset your password again{{if .Site.URL}} at <a class="link" href="{{.Site.URL}}/forgot-password" style="color:#b5482f;">{{.Site.Host}}</a>{{end}} and tell an admin of {{.Site.InstanceName}}.</p>
{{- end}}
